@font-face {
    font-family: 'impact';
    src: local('impact'), url('impact.ttf') format('truetype');
}
body {
    margin: 0;
    font-family: sans-serif;
}
.generate, .tools {
    width: 500px;
    max-width: 90vw;
    margin: 1em auto;
}
.preview {
    max-width: 100%;
    max-height: 80vh;
    margin: auto;
    display: block;
    background: #ddd;
}
.select-image {
    list-style: none;
    margin: 2em 0 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}
.select-image li {
    width: 33.33%;
}
.select-image img {
    display: block;
    width: 100%;
    border: solid 4px;
    mix-blend-mode: multiply;
    box-sizing: border-box;
}
.select-image li:hover {
    background: yellow;
}
.select-text {
    margin: 1em 0;
    border: solid 4px;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
}
.select-position {
    display: inline-block;
    padding: .5em 0;
}
.download {
    display: inline-block;
    padding: .5em;
    border: solid 4px;
    margin-top: 1em;
    color: black;
    font-weight: bold;
}
.download:hover {
    background-color: yellow;
}
.download[hidden] {
    visibility: hidden;
}

@media (min-width: 1000px) {
    body {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: start;
        grid-gap: 2em;
    }
    .generate {
        position: sticky;
        top: 1em;
    }
}